

@page
@using BleakwindBuffet.Data;
@using BleakwindBuffet.Data.Enums;


@model IndexModel
@{
    ViewData["Title"] = "Bleakwind Buffet";
}

<h1>@ViewData["Title"]</h1>

<p>
    We at Bleakwind Buffet are proud to bring you authentic
    fantasy meals straight from the world of Skyrim. Shake
    the blood off your sword and sake your thirst with one
    of our old-fashioned sailor sodas. Hack into a Smokehouse
    Skeleton with your dagger. Or vanquish the the mighty
    Thalmor Triple Burger! You’ve had a hard adventure and
    earned your loot, so spend it with us!.
</p>

<h3 class="Add">Add a Combo Meal!</h3>
<p>By combining an Entree, drink, and side together you can take $1.00 off the price of your meal.</p>

<h3 class="Add"</h3>Choose From Six Soda Flavors!</h3>
<div class="flavor">
    <div>Including: </div>
    <ul class="flavor-list">
        @foreach(SodaFlavor flavor in Enum.GetValues(typeof(SodaFlavor)))
        {
            <li class="sodaflavor">@EnumExt.Print(flavor)</li>
        }
    </ul>

</div>
<ul class="Menu-List">
    <!-- ENTREES -->
    <div class="List">
        <h2 class="Menu-Type">Entrees</h2>
        @foreach (IOrderItem item in Menu.Entrees())
        {
            <li>
                <div class="Calories">@($"{item.Calories} Cal.")</div>
                <div class="String">@item.String</div>
                <div class="Price">@String.Format("{0:c}", item.Price)</div>
            </li>
        }
    </div>

    <!-- Drinks -->
    <div class="List">
        <h2 class="Menu-Type">Drinks</h2>
        @foreach (IOrderItem item in Menu.Drinks())
        {
            <li>
                <div class="Calories">@($"{item.Calories} Cal. ")</div>
                <div class="String">@item.String</div>
                <div class="Price">@String.Format("{0:c}", item.Price)</div>
            </li>
        }
    </div>

    <!-- Drinks -->
    <div class="List">
        <h2 class="Menu-Type">Sides</h2>
        @foreach (IOrderItem item in Menu.Sides())
        {
            <li>
                <div class="Calories">@($"{item.Calories} Cal. ")</div>
                <div class="String">@item.String</div>
                <div class="Price">@String.Format("{0:c}", item.Price)</div>
            </li>
        }
    </div>

</ul>
